<table class="table table-striped" ng-controller="DirectoryCtrl">
    <thead>
        <tr>
            <th><a href="" ng-click="sort('name', reverse_name = !reverse_name, this)">Name<span class="glyphicon glyphicon-sort-by-attributes{{reverse_name?'':'-alt'}}"></span></a></th>
            <th>Size</th>
            <th><a href="" ng-click="sort('date', reverse_date = !reverse_date, this)">Date added<span class="glyphicon glyphicon-sort-by-attributes{{reverse_date?'':'-alt'}}"></span></a></th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="f in files">
            <td><a href="{{(f.directory ? '/directory' : '/file') +  f.fullname}}">{{f.name}}</a></td>
            <td>{{f.directory ? '' : (f.size/1024 | number:0) + 'MB'}}</td>
            <td>{{f.date|dateReadable}}</td>
            <td><a href="" ng-click="rename(this)">Rename</a></td>
        </tr>
    </tbody>
</table>
